<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true, category_filter=["success", "info"]) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" style="width: 100%; z-index: 999">
        {{ message }}
        <a class="close" href="#" onclick="this.parentElement.remove(); return false">×</a>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="topnav">
        <a href="/">Dashboard</a>

        <div class="topnav-right">
            {% if session.logged_in %}
                <a href="#" style="pointer-events: none;">{{ session.username }}</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Sign up</a>
            {% endif %}
        </div>
    </div>

    <div class="card-trip" id="fetch-data">
        <img src="/images/fetch_data.png"  alt="loading..."/>
        <div class="card-trip-infos">
            <div>
                <h2>Fetch Data</h2>
                <p>Fetch Your Sales Data.</p>
            </div>
        </div>
        <a href="{{ url_for('pages.core.fetch_report_route') }}" class='card-link'></a>
    </div>
    <div class="card-trip" id="primary-sales">
        <img src="/images/primary_sales.png"  alt="loading..."/>
        <div class="card-trip-infos">
            <div>
                <h2>Primary Sales</h2>
                <p>Insert Primary Sales Data.</p>
            </div>
        </div>
        <a href="{{ url_for('pages.core.primary_sales_route') }}" class='card-link'></a>
    </div>
    <div class="card-trip" id="secondary-sales">
        <img src="/images/secondary_sales.jpg"  alt="loading..."/>
        <div class="card-trip-infos">
            <div class="card-trip-infos-text">
                <h2>Secondary Sales</h2>
                <p>Insert Secondary Sales Data.</p>
            </div>
        </div>
        <a href="{{ url_for('pages.core.secondary_sales_route') }}" class='card-link'></a>
    </div>
<!--</div>-->
</body>

</html>