{% extends 'base.html' %}

{% block title %}
Primary Sales
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="bg-light p-4 border rounded">
                {% with errors = get_flashed_messages(category_filter=["danger"]) %}
                {% if errors %}
                <div class="alert alert-danger">
                    {{ errors[0] }}
                </div>
                {% endif %}
                {% endwith %}

                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.gst_number.label(class="form-control-label") }}
                    {{ form.gst_number(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.invoice_number.label(class="form-control-label") }}
                    {{ form.invoice_number(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.invoice_date.label(class="form-control-label") }}
                    {{ form.invoice_date(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.goods_details.label(class="form-control-label") }}
                    {{ form.goods_details(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.hsn_code.label(class="form-control-label") }}
                    {{ form.hsn_code(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.taxable_value.label(class="form-control-label") }}
                    {{ form.taxable_value(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.gst_applicability.label(class="form-control-label") }}
                    {{ form.gst_applicability(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.gst_percentage.label(class="form-control-label") }}
                    {{ form.gst_percentage(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}